.container.app
  .row.app-one
    .col-sm-4.side
      .side-one
        .row.heading
          .col-sm-9.col-xs-9.heading-avatar
            .heading-avatar-icon
              = file_field_tag 'avatar', id: 'avatar', style: 'display: none', data: {url: user_path(current_user)}, multiple: true
              = image_tag current_user.avatar.url, id: 'user_avatar'
              %strong= current_user.nickname
          .col-sm-2.col-xs-2.col-sm-offset-1
            =link_to destroy_user_session_path, method: :delete do
              %i.fa.fa-2x.fa-sign-out{"aria-hidden" => "true"}
        .row.searchBox
          .col-sm-12.searchBox-inner
            .form-group.has-feedback
              %input#searchText.form-control{:name => "searchText", :placeholder => "Search", :type => "text"}/
              %span.glyphicon.glyphicon-search.form-control-feedback
        .row.sideBar
          - @users.each_with_index do |u, i|
            .row.user.sideBar-body{class: [('active' if i.zero?), ('new_message' if @new_senders.include?(u.id))], data: {user_id: u.id, nickname: u.nickname}}
              .col-sm-3.col-xs-3.sideBar-avatar
                .avatar-icon
                  = image_tag u.avatar.url
              .col-sm-9.col-xs-9.sideBar-main
                .row
                  .col-sm-8.col-xs-8.sideBar-name
                    %span.name-meta= u.nickname
                    .status
                  .col-sm-4.col-xs-4.pull-right.sideBar-time
                    %span.time-meta.pull-right
                      18:18
    .col-sm-8.conversation
      .row.heading
        - if @users.any?
          .col-sm-2.col-md-1.col-xs-3.heading-avatar
            .heading-avatar-icon
              = image_tag @users.first.avatar.url
          .col-sm-8.col-xs-7.heading-name
            %span.heading-name-meta= @users.first.nickname
            %span.heading-online Online
      #conversation.row.message
        - if @chat
          - @chat.messages.each do |m|
            = render 'chatters/message', message: m
      .row.reply
        .col-sm-11.col-xs-11.reply-main.lead.emoji-picker-container
          %textarea#message.form-control{:rows => "1", data: {emojiable: "true"}}
        .col-sm-1.col-xs-1.reply-send
          %i.fa.fa-send.fa-2x{"aria-hidden" => "true"}

.row.message-body.hide
  .col-sm-12
    .status
      .message-text
      %span.message-time.pull-right
